
@{
    Layout = null;
}

<h3>Tenteci Tablo Örneği</h3>
<br />
<table>
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Tente</td>
        <td>Kalite ve Hız</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Pergole</td>
        <td>Kalite ve Hız</td>
        <td>True</td>
    </tr>
</table>
